<li class="search-item">
  <%= link_to user do %>
    <div class="col-md-3">
      <%= gravatar_for user, size: 50 %>
    </div>
    <div class="col-md-9">
      <div class="row">
        <strong><%= user.name %></strong>
      </div>
      <div class="row">
      </div>
      <div class="row">
        <i><%= User.name %></i>
      </div>
    </div>
    <div class="clearfix"></div>
  <% end %>
</li>