<% provide(:title, 'All users') %>
<<<<<<< HEAD
<!-- all users -->
=======
>>>>>>> 04333373e84046df3c81b8c0c6af9e7534cf292d
<h1>All users</h1>
<%= will_paginate %>
<ul class="users">
	<% @users.each do |user| %>
	<%= render user %>

	<% end %>
</ul>

<%= will_paginate %>
