@import "bootstrap-sprockets";
@import "bootstrap";

body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    
}
.wrapper {background-color:  #F0F0F0;}




.wrapper .item-left .name-categories{

}
.wrapper .item-left .name-categories h3{

}
.wrapper .item-left .main{

}
.wrapper .item-left .main .course{

}
.wrapper .item-left .main .course li{

}
.wrapper .item-left .main ul{

}
.wrapper .item-left .main ul li{


}
.wrapper .item-left .main ul li .item-title{

}
.wrapper .item-left .main ul li .item-title .thumb{
  

}
.wrapper.item-left .main ul li .item-title .thumb img{
  
}
.wrapper .item-left .main ul li .item-title h4 {

}
.wrapper .item-left .main ul li .item-title h4 a{

}
.wrapper .item-left .main ul li .item-title p{

}

.wrapper .item-left .main ul li .accept {


}
.wrapper .item-left .main ul li .accept h4{}
.wrapper .item-left .main ul li .accept h4 a{color: #FFFFFF;font-size: 16px;font-weight: 400px;display: block;}



.wrapper .xephang{
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);

  -webkit-box-shadow: 0px 5px 7px rgba(46, 31, 31, 0.22);

  margin-right: 30px;

  margin:  30px;

  background-color:  #FFFFFF;

  padding: 15px 15px 15px 15px;
}



.img-circle{
  width:100%;
}


.wrapper .xephang h3{

}
.wrapper .xephang ul{

}
.wrapper .xephang ul li{

}
.wrapper .xephang ul li span{

}
.wrapper  .advertisement{
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);

  -webkit-box-shadow: 0px 5px 7px rgba(46, 31, 31, 0.22);

  margin-right: 30px;

  margin:  30px;

  background-color:  #FFFFFF;

  padding: 15px 15px 15px 15px;
}
.wrapper  .advertisement a img {

width:  100%;

margin-bottom: 20px;
}
  
.wrapper  .advertisement a:hover{
  color: #00FF00;
  opacity: 0.7;
}

.wrapper  .advertisement a:hover img {

  
}
.wrapper .footer{

}
.wrapper .footer .logo-footer{

}
.wrapper .footer .logo-footer h3{

}
.wrapper .footer .logo-footer h3 a{

}
.wrapper .footer .logo-footer h3 a:hover{
  text-decoration: none;
}
.wrapper .footer .follow-us{

}
.wrapper .footer .follow-us #fb{

}
.wrapper .footer .follow-us #youtube{

}
.wrapper .footer .follow-us p{

} 
.wrapper .footer .follow-us img{

}
.wrapper .footer .copyright{

}  
.wrapper .footer .copyright p{

}
/*.text-header{
  
color:  #FFFFFF;
}
*/
.clr{
  clear:both;
}                

#rcorners3 {
    border-radius: 30px 0px;
    background: #5BC0DE;
    padding: 20px;
    width: 110%;
    height: 20pz;
    color:  #fff;
    font-size:  25px;
    text-align: center;
}

#rcorners3 span{

font-size: 18px;
}

a{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}


.thumb img{
  width:100%;
}
.box-item{
  background: #fff;
  padding:1em;
  margin-bottom: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
  -webkit-box-shadow: 0px 5px 7px rgba(46, 31, 31, 0.22);
}
.box-item .item-title{
  text-align:center;
}
.box-item .accept{
  text-align:center;
}
.box-item .accept h4{

}
.box-item .item-title h4 a{
  
}
.box-item .item-title h4 a:hover{
  text-decoration: none;
}


.box-item2{
  background: #fff;
  padding:1em;
  margin-bottom: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
  -webkit-box-shadow: 0px 5px 7px rgba(46, 31, 31, 0.22);
  height: 550px;
}

.box-item2 .accept{
  text-align:center;
}
.box-item2 .accept h4{

}


.box-item3{
  background: #fff;
  padding:1em;
  margin-bottom: 30px;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 10);
  -webkit-box-shadow: 0px 5px 7px rgba(46, 31, 31, 0.22);

}

.box-item3 .accept{
  text-align:center;
}
.box-item3 .accept h4{

}


.fa {
  padding: 8px;
  font-size: 30px;
  width: 30px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 100%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  margin-bottom:  12px;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 14;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 8px 4px 8px 8px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 25%
}


.input-quiz {



  padding-bottom: 40px;
  border-radius: 3px;
}
/*.input-quiz h1 {
  box-sizing: border-box;
  padding: 20px;
}
 */
.input-quiz input{
  margin: 40px 25px;
  width: 200px;
  display: block;
  border: none;
  padding: 10px 0;
  border-bottom: solid 1px #1abc9c;
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  color: #0e6252;
} 
.input-quiz input:focus, .input-quiz input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}
.input-quiz input:focus::-webkit-input-placeholder, .input-quiz input:valid::-webkit-input-placeholder {
  color: #1abc9c;
  font-size: 11px;
  transform: translateY(-20px);
  visibility: visible !important;
}


.grid-container {
  grid-template-columns: auto auto auto auto;
  grid-row-gap: 50px;
  grid-column-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}
.grid-container>div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding:20px 0;
  font-size: 30px;
}
.termOptions{
      border: 0.125rem solid #3ccfcf;
    cursor: pointer;
    padding: 0.75rem;
    position: relative;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.625;
    transition: none 120ms cubic-bezier(0.47,0,0.745,0.715);
    transition-property: border-color;
    width: 25%;
  
}
.jumbotron {
    background-color: #f4511e;
    color: #fff;
}

.pagination {
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 10px;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #fff;
  margin-left: -1px;
  border: 1px solid transparent;
  line-height: 1.5;
}
.pagination a.active {
  cursor: default;
}
.pagination a:active {
  outline: none;
}


.modal-6 {
  -moz-box-shadow: 0 2px 2px #333;
  -webkit-box-shadow: 0 2px 2px #333;
  box-shadow: 0 2px 2px #333;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
}
.modal-6 a {
  border-color: #ddd;
  color: #999;
  background: #fff;
  padding: 10px 15px;
}
.modal-6 a:hover {
  color: #E34E48;
  background-color: #eee;
}
.modal-6 a.prev {
  -moz-border-radius: 50px 0 0 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px 0 0 50px;
  width: 50px;
  position: relative;
}
.modal-6 a.prev:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  right: 0;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
.modal-6 a.next {
  -moz-border-radius: 0 50px 50px 0;
  -webkit-border-radius: 0;
  border-radius: 0 50px 50px 0;
  width: 50px;
  position: relative;
}
.modal-6 a.next:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 100%;
  top: 0;
  left: 0;
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
}
.modal-6 a.active {
  border-color: #bbb;
  background: #fff;
  color: #E34E48;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25) inset;
}

.voca{
  
margin-bottom: 12px;
}
.voca .table{
  
}
.voca .table thead{
  
}
.voca .table thead tr{
  
}
.voca .table thead tr th{
  
}
.voca .table tbody{
  
}
.voca .table tbody tr{
  
}
.voca .table tbody tr td{
  
}
.voca .table ul{
  
}
.voca .table li{
  
}
.voca .table li a{
  
}
.table ul{}
/* Back to top */
footer {
    color: #f5f5f5;
    padding: 32px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}   
/* end back to top */
  
.page-infor{
  background-color: white;

}



.avatar{ 

 
}

.avatar img{
  
display: block;
  
margin-left: auto;
  
margin-right: auto;
}
.avatar #ser-name{
  
} 
.avatar #user-name h4{
  text-align: center;
}

/*.mean-word{
  float: lef;
}*/

/*them index.scss*/

.user-infor{
  
}